<appSettings>
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.Skin" value="Metro" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="smtpHost" value="mail.rekayasa.co.id"/>
  <add key="smtpPort" value="25"/>
  <!--gnostice-->
  <!--<add key="GnosticePDFViewerLicKey" value="8BF3-9212-DDD7-38B2-B1B5-8787-0F61-31F7"/>-->
  <!--gnostice-->
</appSettings>