USE [master]
GO
/****** Object:  Database [DBC2019001]    Script Date: 27/09/2019 7:03:48 ******/
CREATE DATABASE [DBC2019001]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBC2019001', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBC2019001.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBC2019001_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DBC2019001_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBC2019001].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBC2019001]
GO
/****** Object:  Table [dbo].[CONTRACTDOCUMENT]    Script Date: 27/09/2019 7:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTRACTDOCUMENT](
	[DOC_ID] [varchar](50) NOT NULL,
	[DOC_NO] [varchar](50) NULL,
	[DOC_NAME] [varchar](50) NULL,
	[FILE_NAME] [varchar](255) NULL,
	[DOC_TYPE] [varchar](50) NULL,
	[DOC_CATEGORY] [varchar](50) NULL,
	[DOC_PARENT_ID] [varchar](50) NULL,
	[PROJECT_ID] [varchar](20) NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_BYNAME] [varchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[MODIFIED_BY] [varchar](50) NULL,
	[MODIFIED_BYNAME] [varchar](50) NULL,
	[REVISION] [varchar](50) NULL,
	[CURRENT] [bit] NULL,
	[STATUS] [nchar](10) NULL,
 CONSTRAINT [PK_KONTRAK_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTRACTDOCUMENT_CATEGORY]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTRACTDOCUMENT_CATEGORY](
	[ID] [varchar](50) NOT NULL,
	[CATEGORY] [varchar](100) NULL,
	[DESCRIPTION] [varchar](999) NULL,
 CONSTRAINT [PK_CONTRACTDOCUMENT_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTRACTDOCUMENT_LISTIMPORT]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACTDOCUMENT_LISTIMPORT](
	[PM_ID] [nvarchar](255) NULL,
	[PROJECT_CODE] [float] NULL,
	[MEMBER_CODE] [float] NULL,
	[POSITION] [nvarchar](255) NULL,
	[ROLE_CODE_NEW] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTRACTDOCUMENT_ROLE]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTRACTDOCUMENT_ROLE](
	[ID] [varchar](50) NOT NULL,
	[ROLE_CODE] [varchar](50) NULL,
	[CATEGORY_ID] [varchar](50) NULL,
 CONSTRAINT [PK_CONTRACTDOCUMENT_ROLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DISCIPLINE]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DISCIPLINE](
	[DISCIPLINE_CODE] [varchar](5) NOT NULL,
	[DISCIPLINE_NAME] [varchar](100) NULL,
	[ALIAS_CODE] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[DISCIPLINE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmplId] [varchar](10) NOT NULL,
	[Name] [varchar](225) NULL,
	[OrganizationId] [varchar](225) NULL,
	[Position] [varchar](225) NULL,
	[PositionName] [varchar](225) NULL,
	[Email] [varchar](225) NULL,
	[PASS] [varchar](225) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmplId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAINMENU]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAINMENU](
	[MENU_ID] [varchar](50) NOT NULL,
	[MENU_PARENT_ID] [varchar](50) NULL,
	[MENU_TEXT] [varchar](100) NULL,
	[MENU_VALUE] [varchar](50) NULL,
	[MENU_URL] [varchar](100) NULL,
	[MENU_DISPLAY] [bit] NULL,
	[MENU_ORDER] [int] NULL,
	[MENU_REMARK] [varchar](255) NULL,
 CONSTRAINT [PK__MAINMENU__6C4729794468959F] PRIMARY KEY CLUSTERED 
(
	[MENU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAINMENU_ROLE_PERMISSION]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAINMENU_ROLE_PERMISSION](
	[MRP_ID] [varchar](50) NOT NULL,
	[MENU_ID] [varchar](50) NULL,
	[ROLE_CODE] [varchar](10) NULL,
	[canVIEW] [bit] NULL,
	[canINSERT] [bit] NULL,
	[canUPDATE] [bit] NULL,
	[canDELETE] [bit] NULL,
 CONSTRAINT [PK__MAINMENU__33999E5356BE0381] PRIMARY KEY CLUSTERED 
(
	[MRP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT](
	[PROJECT_CODE] [varchar](10) NOT NULL,
	[PROJECT_NAME] [varchar](100) NULL,
	[PROJECT_DESCRIPTION] [varchar](200) NULL,
	[PROJECT_CLIENT] [varchar](100) NULL,
	[PROJECT_LOCATION] [varchar](100) NULL,
	[PROJECT_LOGO1] [varchar](50) NULL,
	[PROJECT_LOGO2] [varchar](50) NULL,
	[PROJECT_LOGO3] [varchar](50) NULL,
	[PROJECT_SYMBOL] [varchar](10) NULL,
	[PROJECT_MANAGER] [varchar](150) NULL,
 CONSTRAINT [PK__PROJECT__6E0AB17DFEC89E5A] PRIMARY KEY CLUSTERED 
(
	[PROJECT_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PROJECTMEMBER]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECTMEMBER](
	[PM_ID] [varchar](50) NOT NULL,
	[PROJECT_CODE] [varchar](10) NULL,
	[MEMBER_CODE] [varchar](10) NULL,
	[ROLE_CODE] [varchar](10) NULL,
	[DISCIPLINE_CODE] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[PM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLE_CODE] [varchar](10) NOT NULL,
	[ROLE_NAME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vEMPLOYEE]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vEMPLOYEE]

AS

SELECT * FROM Employee

GO
/****** Object:  View [dbo].[vLOGIN]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLOGIN]
AS
SELECT DISTINCT a.EMPLID,a.EMAIL,a.NAME,a.PASS 
FROM vEMPLOYEE a
INNER JOIN PROJECTMEMBER b ON a.EmplId = MEMBER_CODE




GO
/****** Object:  View [dbo].[vEMPLOYEEPASS]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vEMPLOYEEPASS]

AS

SELECT * FROM Employee

GO
INSERT [dbo].[CONTRACTDOCUMENT] ([DOC_ID], [DOC_NO], [DOC_NAME], [FILE_NAME], [DOC_TYPE], [DOC_CATEGORY], [DOC_PARENT_ID], [PROJECT_ID], [DESCRIPTION], [CREATED_DATE], [CREATED_BY], [CREATED_BYNAME], [MODIFIED_DATE], [MODIFIED_BY], [MODIFIED_BYNAME], [REVISION], [CURRENT], [STATUS]) VALUES (N'ba46703e-1f3f-49d5-8c8a-5c0a7d9a2871', N'11-111-222', N'TEST PROJECT A', N'11-111-222_A.docx', NULL, N'1', NULL, N'999999', NULL, CAST(N'2019-09-26 14:28:11.227' AS DateTime), N'12345678', N'admin', CAST(N'2019-09-26 14:28:11.227' AS DateTime), N'12345678', N'admin', N'A', 0, NULL)
GO
INSERT [dbo].[CONTRACTDOCUMENT] ([DOC_ID], [DOC_NO], [DOC_NAME], [FILE_NAME], [DOC_TYPE], [DOC_CATEGORY], [DOC_PARENT_ID], [PROJECT_ID], [DESCRIPTION], [CREATED_DATE], [CREATED_BY], [CREATED_BYNAME], [MODIFIED_DATE], [MODIFIED_BY], [MODIFIED_BYNAME], [REVISION], [CURRENT], [STATUS]) VALUES (N'bf16f414-a1ba-4ba8-965f-e866b1147631', N'11-111-222', N'TEST PROJECT A', NULL, NULL, N'1', NULL, N'999999', NULL, CAST(N'2019-09-26 14:28:11.000' AS DateTime), N'12345678', N'admin', CAST(N'2019-09-26 14:28:19.980' AS DateTime), N'12345678', N'admin', N'B', 0, NULL)
GO
INSERT [dbo].[CONTRACTDOCUMENT_CATEGORY] ([ID], [CATEGORY], [DESCRIPTION]) VALUES (N'1', N'A', N'A')
GO
INSERT [dbo].[CONTRACTDOCUMENT_CATEGORY] ([ID], [CATEGORY], [DESCRIPTION]) VALUES (N'2', N'B', N'B')
GO
INSERT [dbo].[CONTRACTDOCUMENT_CATEGORY] ([ID], [CATEGORY], [DESCRIPTION]) VALUES (N'3', N'C', N'C')
GO
INSERT [dbo].[Employee] ([EmplId], [Name], [OrganizationId], [Position], [PositionName], [Email], [PASS]) VALUES (N'12345678', N'admin', N'1', N'Admin', N'Admin', N'admin@mailcom', N'12345678')
GO
INSERT [dbo].[PROJECT] ([PROJECT_CODE], [PROJECT_NAME], [PROJECT_DESCRIPTION], [PROJECT_CLIENT], [PROJECT_LOCATION], [PROJECT_LOGO1], [PROJECT_LOGO2], [PROJECT_LOGO3], [PROJECT_SYMBOL], [PROJECT_MANAGER]) VALUES (N'999999', N'Corporate', N'Corporate', NULL, NULL, NULL, NULL, NULL, N'Corporate', NULL)
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [uniquePROJECTMEMBER]    Script Date: 27/09/2019 7:03:49 ******/
ALTER TABLE [dbo].[PROJECTMEMBER] ADD  CONSTRAINT [uniquePROJECTMEMBER] UNIQUE NONCLUSTERED 
(
	[PROJECT_CODE] ASC,
	[MEMBER_CODE] ASC,
	[ROLE_CODE] ASC,
	[DISCIPLINE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MAINMENU] ADD  CONSTRAINT [DF__MAINMENU__MENU_I__182C9B23]  DEFAULT (newid()) FOR [MENU_ID]
GO
ALTER TABLE [dbo].[MAINMENU_ROLE_PERMISSION] ADD  CONSTRAINT [DF__MAINMENUR__MRP_I__267ABA7A]  DEFAULT (newid()) FOR [MRP_ID]
GO
ALTER TABLE [dbo].[PROJECTMEMBER] ADD  DEFAULT (newid()) FOR [PM_ID]
GO
ALTER TABLE [dbo].[MAINMENU_ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_MAINMENUROLEPERMISSION_MAINMENU] FOREIGN KEY([MENU_ID])
REFERENCES [dbo].[MAINMENU] ([MENU_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MAINMENU_ROLE_PERMISSION] CHECK CONSTRAINT [FK_MAINMENUROLEPERMISSION_MAINMENU]
GO
ALTER TABLE [dbo].[MAINMENU_ROLE_PERMISSION]  WITH CHECK ADD  CONSTRAINT [FK_MAINMENUROLEPERMISSION_ROLE] FOREIGN KEY([ROLE_CODE])
REFERENCES [dbo].[ROLE] ([ROLE_CODE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MAINMENU_ROLE_PERMISSION] CHECK CONSTRAINT [FK_MAINMENUROLEPERMISSION_ROLE]
GO
ALTER TABLE [dbo].[PROJECTMEMBER]  WITH CHECK ADD  CONSTRAINT [fk_PROJECTMEMBER_DISCIPLINE] FOREIGN KEY([DISCIPLINE_CODE])
REFERENCES [dbo].[DISCIPLINE] ([DISCIPLINE_CODE])
GO
ALTER TABLE [dbo].[PROJECTMEMBER] CHECK CONSTRAINT [fk_PROJECTMEMBER_DISCIPLINE]
GO
ALTER TABLE [dbo].[PROJECTMEMBER]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTMEMBER_PROJECT] FOREIGN KEY([PROJECT_CODE])
REFERENCES [dbo].[PROJECT] ([PROJECT_CODE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROJECTMEMBER] CHECK CONSTRAINT [FK_PROJECTMEMBER_PROJECT]
GO
ALTER TABLE [dbo].[PROJECTMEMBER]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTMEMBER_ROLE] FOREIGN KEY([ROLE_CODE])
REFERENCES [dbo].[ROLE] ([ROLE_CODE])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PROJECTMEMBER] CHECK CONSTRAINT [FK_PROJECTMEMBER_ROLE]
GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTCONTRACTDOCUMENT]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_SELECTCONTRACTDOCUMENT]
@PROJECT_ID VARCHAR(25)
AS

DECLARE @NewLineChar AS CHAR(2) = CHAR(13) + CHAR(10)
IF @PROJECT_ID='999999'
BEGIN
Select  ROW_NUMBER() OVER(ORDER BY c.PROJECT_CODE, a.DOC_NO ) AS No,a.*, 
a.DOC_NO+'<br/>'+a.DOC_NAME 'Nama'
,
b.DOC_NO 'RELATED_DOC', c.PROJECT_SYMBOL, a.DOC_NO+ ' Revision '+ a.REVISION RELATED
from CONTRACTDOCUMENT a 
left join CONTRACTDOCUMENT b on a.DOC_PARENT_ID=b.DOC_ID
left join PROJECT c on a.PROJECT_ID=c.PROJECT_CODE where a.[CURRENT]=1

Order by c.PROJECT_CODE, a.DOC_NO
END
ELSE
BEGIN
Select  ROW_NUMBER() OVER(ORDER BY  c.PROJECT_CODE, a.DOC_NO ) AS No, a.*,
a.DOC_NO+'<br/>'+a.DOC_NAME 'Nama'
,
 b.DOC_NO 'RELATED_DOC', c.PROJECT_SYMBOL, a.DOC_NO+ ' Revision '+ a.REVISION RELATED
 from CONTRACTDOCUMENT a 
left join CONTRACTDOCUMENT b on a.DOC_PARENT_ID=b.DOC_ID
left join PROJECT c on a.PROJECT_ID=c.PROJECT_CODE where a.PROJECT_ID=@PROJECT_ID and a.[CURRENT]=1

Order by c.PROJECT_CODE, a.DOC_NO
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTCONTRACTHISTORY]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SELECTCONTRACTHISTORY]
@DOC_NO VARCHAR(50)
AS
Select  ROW_NUMBER() OVER(ORDER BY c.PROJECT_CODE, a.DOC_NO ) AS No,a.*, 
 c.PROJECT_SYMBOL
from CONTRACTDOCUMENT a 
left join PROJECT c on a.PROJECT_ID=c.PROJECT_CODE where a.[CURRENT]=0 and a.DOC_NO=@DOC_NO
Order by c.PROJECT_CODE, a.DOC_NO, a.REVISION desc 

GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTCONTRACTLIST]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_SELECTCONTRACTLIST]
AS

Select  ROW_NUMBER() OVER(ORDER BY c.PROJECT_CODE, a.DOC_NO ) AS No,a.*, d.CATEGORY,
b.DOC_NO 'RELATED_DOC', c.PROJECT_SYMBOL, a.DOC_NO+ ' Revision '+ a.REVISION RELATED
from CONTRACTDOCUMENT a 
left join CONTRACTDOCUMENT b on a.DOC_PARENT_ID=b.DOC_ID
left join PROJECT c on a.PROJECT_ID=c.PROJECT_CODE 
left join CONTRACTDOCUMENT_CATEGORY d on a.DOC_CATEGORY=d.id
left join CONTRACTDOCUMENT_ROLE e on a.DOC_CATEGORY=e.CATEGORY_ID
where a.[CURRENT]=1
Order by c.PROJECT_CODE, a.DOC_NO


GO
/****** Object:  StoredProcedure [dbo].[SP_SELECTCONTRACTPROJECT]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SELECTCONTRACTPROJECT]
@PROJECT_CODE2 as varchar(50)
AS
Select *, CASE WHEN PROJECT_CODE='999999' 
THEN  'ALL'  ELSE PROJECT_NAME END PROJECTNAME from PROJECT 
order by PROJECTNAME

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATECONTRACTPARENT]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_UPDATECONTRACTPARENT] 
@DOC_ID as varchar(50)
as
update CONTRACTDOCUMENT set DOC_PARENT_ID=null where DOC_PARENT_ID=@DOC_ID

GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATECONTRACTREVISE]    Script Date: 27/09/2019 7:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_UPDATECONTRACTREVISE] 
@DOC_ID as varchar(50),
@DOC_ID_REVISE as varchar(50)
as
update CONTRACTDOCUMENT set DOC_PARENT_ID=@DOC_ID_REVISE where DOC_PARENT_ID=@DOC_ID

GO
USE [master]
GO
